<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.project.mapper.McdComplainMapper">
  <resultMap id="BaseResultMap" type="com.company.project.project.model.McdComplain">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dates" jdbcType="VARCHAR" property="dates" />
    <result column="datetimes" jdbcType="VARCHAR" property="datetimes" />
    <result column="progress" jdbcType="VARCHAR" property="progress" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="object" jdbcType="VARCHAR" property="object" />
    <result column="askfor" jdbcType="VARCHAR" property="askfor" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="comments" jdbcType="INTEGER" property="comments" />
    <result column="forwards" jdbcType="INTEGER" property="forwards" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>