<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.project.mapper.McdMapper">
  <resultMap id="BaseResultMap" type="com.company.project.project.model.Mcd">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
    <result column="complaints" jdbcType="INTEGER" property="complaints" />
    <result column="replys" jdbcType="INTEGER" property="replys" />
    <result column="completes" jdbcType="INTEGER" property="completes" />
  </resultMap>
</mapper>